<h1>Conway's Game of Life</h1>

<% if @live_cells.size == 0 %>
  <form accept-charset="UTF-8" action="/game" method="post">
    <input type="text" name="width" value="100" />
    <input type="text" name="height" value="100" />
    <input type="text" name="live_cells_number" value="5" />
    <button>Start</button>
  </form>
<% else %>
  <section>
    <div>
      <% @width.times do |i| %>
      <% end %>
    </div>
    <button>Next</button>
    <button>Cancel</button>
  </section>
<% end %>